.hot-songs {
  background-color: #fcfcfd;
}
.banner {
  position: relative;
  padding-top: 38.9%;
  padding-left: 20px; 
  overflow: hidden;
  background: url(../img/hot_music_bg_3x.jpg) no-repeat;
  background-size: contain;
}
.banner:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: " ";
  z-index: 1;
  background-color: rgba(0,0,0,.2);
}
.hotpct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hmsprt.hoticon {
  width: 142px;
  height: 67px;
  background-position: -24px -30px;
}
.hottime {
  margin-top: 10px;
  color: hsla(0,0%,100%,.8);
  font-size: 12px;
  transform: scale(.91);
  transform-origin: left top;
}
.hotdn {
  height: 55px;
  line-height: 55px;
  text-align: center
}
.hotdn .hotview {
  display: inline-block;
  color: #999;
  padding-right: 14px;
  background: url(../img/right_arrow.svg) 100% no-repeat;
  background-size: 7px 12px;
  font-size: 14px;
}
center img {
  margin-top: 20vh;
  width: 15px;
}