.App {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfd;
}
.tab-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 104px;
}
.hmsprt {
  background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28…) no-repeat;
  background-size: 166px 97px;
}
i {
  font-style: normal;
}
img {
  border: 0;
}