.App {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfd;
}
.tab-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 104px;
}
.hmsprt {
  background: url(./assets/img/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
i {
  font-style: normal;
}
img {
  border: 0;
}
li, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
li {
  list-style: none;
}